* {
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
}

.bg-primary-color {
    background-color: rgb(255, 255, 255);
}

.bg-secondary-color {
    background-color: rgb(255, 255, 255);
}

.bg-dark-color {
    background-color: #99071D	;
}

.primary-color {
    color: black;
}

.secondary-color {
    color: white	;
}

.third-color{
    color: #000000;
}

.button {
    border-radius: 20em;
  }

/* NAVBAR */

/*Para dispositivos com width menor que 768px*/
body {
    padding-top: 280px;
}

/*Para dispositivos com width maior ou igual a 768px*/
@media (min-width: 768px) {
    body {
        padding-top: 150px;
    }
}






.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 200px;

}


.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}


#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
    font-size: 20px;

}

.btn-text{
    color: white;
}


/* INFO CONTAINER*/

#info-footer-container{
    margin-top: 10em;
}

#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;

}

#info-content .btn{
    margin-top: 5em;
    font-size: 2em;
    font-weight: bolder;

}

.menu-title{
    font-weight: bolder;
    font-size: 3em;
    margin-top: 2em;
}









#info-footer{
    margin-top: 0.5em;
    margin-left: 4em;
}

.menu-info-subtitle{

    font-size: 2em;
}


.menu-info-title{
    font-weight: bolder;
    font-size: 32px;

}

#footer-bottom-info{
    margin-top: 8em;
    text-align: center;

}

#footer-bottom-info p{
   font-size: 30px;
}


/*FOOTER TOP*/

#footer{
    padding: 3em 2em;
}

#footer-top, #footer-top i{
    color: #fff;
}

#social-icons {
    text-align: right;

}

#social-icons i{
    margin-right: 1em;
    font-size: 2.5em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;
}

/*FOOTER DETAILS*/

#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container{
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

#footer-details h4{
    color: #fff;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: 0.5em;

}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

/*FOOTER BOTTOM*/

#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i {

    margin-left: 0.3em;
}

@media(min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #747474;

    }

}

.card-title{
    font-weight: bolder;

}

.card{
    margin-left: 40em;
    margin-bottom: 4em;
}

.card-cursos {
    font-size: 2em;
    text-align: center;
}

 .icon {
    font-size: 4em;
    text-align: center;
}

/* CARD ADOÇÃO */

.card-deck {
    display: flex;
    margin-top: 10em;
    margin-bottom: 9em;


}

#mini-card .card {
    padding: 5em 1em;
    margin-bottom: 2em;


}
.card-text{
    font-size: 1.2em;
}

.footer-cursos{
    text-align: center;
}

.faq {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

@media(min-width: 768px){
    #mini-card .card {
        padding: 2em 1em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;


    }
    .form-contato{
        margin-left: 20em;
        margin-bottom: 4em;
    }


}

.accordion{
    margin-top: 4em;
    margin-bottom: 4em;
}

.form-login{
    margin-top: 5em;
    margin-bottom: 5em;


}


.form-registro{
    margin-top: 5em;
    margin-bottom: 5em;


}

.btn-enviar{
    margin-top: 2em;
}

#slider-container{
    margin-top: 2em;
    margin-bottom: 2em;
}

.campo-teste{

    background-color: rgba(0, 128, 255, 0.93);
    color: white;
    padding: 1em;
    font-size: 21px;
}
.campo-teste-espacamento{
    margin-top: 2em;
    margin-bottom: 2em;


}

.desc{
    padding: 0 2em;
    border-left: 2px solid #7a7a7a;
    border-bottom: 2px solid #7a7a7a;
    margin-left: 2em;
    background-color: rgba(255, 255, 255, 0.73);
    font-weight: bold;


}

.profile{
    margin-top: 5em;


}

.profile-layout{
    margin-top: 8em;


}

.avatar-pic{
    width: 200px;
    height: 120px;
}

.test{
    margin: 0;
}